**Importing the Dependencies**

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [2]:
#Loading dataset to a pandas dataframe

credit_card_data = pd.read_csv('creditcard.csv')

In [3]:
credit_card_data.shape

(284807, 31)

In [4]:
#first 5 rows of dataset
credit_card_data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [5]:
#last 5 rows of the dataset
credit_card_data.tail()

            Time         V1         V2  ...       V28  Amount  Class
284802  172786.0 -11.881118  10.071785  ...  0.823731    0.77      0
284803  172787.0  -0.732789  -0.055080  ... -0.053527   24.79      0
284804  172788.0   1.919565  -0.301254  ... -0.026561   67.88      0
284805  172788.0  -0.240440   0.530483  ...  0.104533   10.00      0
284806  172792.0  -0.533413  -0.189733  ...  0.013649  217.00      0

[5 rows x 31 columns]

In [6]:
#dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
#checking the number of missing values in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [8]:
credit_card_data.isnull().any()

Time      False
V1        False
V2        False
V3        False
V4        False
V5        False
V6        False
V7        False
V8        False
V9        False
V10       False
V11       False
V12       False
V13       False
V14       False
V15       False
V16       False
V17       False
V18       False
V19       False
V20       False
V21       False
V22       False
V23       False
V24       False
V25       False
V26       False
V27       False
V28       False
Amount    False
Class     False
dtype: bool

In [9]:
#distribution of normal transactions and fradulent transactions
credit_card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

The data is highly unbalanced

In [10]:
# Separating the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraudulent = credit_card_data[credit_card_data.Class == 1]

In [11]:
legit.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [12]:
fraudulent.head()

        Time        V1        V2        V3  ...       V27       V28  Amount  Class
541    406.0 -2.312227  1.951992 -1.609851  ...  0.261145 -0.143276    0.00      1
623    472.0 -3.043541 -3.157307  1.088463  ... -0.252773  0.035764  529.00      1
4920  4462.0 -2.303350  1.759247 -0.359745  ...  0.039566 -0.153029  239.93      1
6108  6986.0 -4.397974  1.358367 -2.592844  ... -0.827136  0.849573   59.00      1
6329  7519.0  1.234235  3.019740 -4.304597  ... -0.010016  0.146793    1.00      1

[5 rows x 31 columns]

In [13]:
legit.shape

(284315, 31)

In [14]:
fraudulent.shape

(492, 31)

In [15]:
# Statistical measures of data
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [16]:
fraudulent.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [17]:
#Compare the values of both transactions
credit_card_data.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      94838.202258  0.008258 -0.006271  ... -0.000295 -0.000131   88.291022
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

Under-Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent Transactions

In [18]:
legit_sample = legit.sample(n=492)

In [19]:
legit_sample.shape

(492, 31)

Concatenating two DataFrames

In [20]:
new_dataset = pd.concat([legit_sample,fraudulent],axis = 0)

In [21]:
new_dataset.head()

            Time        V1        V2  ...       V28  Amount  Class
203997  135066.0 -1.450311  1.017873  ... -0.191828   16.90      0
19067    29986.0 -0.606640 -0.353018  ...  0.205646   74.85      0
132906   80167.0  0.331874  0.855977  ...  0.342077   34.90      0
202425  134323.0 -0.222645  0.506979  ... -0.039948  255.02      0
242118  151350.0  2.111237 -0.043658  ... -0.066207    1.79      0

[5 rows x 31 columns]

In [22]:
new_dataset.shape

(984, 31)

In [23]:
new_dataset['Class'].value_counts()

1    492
0    492
Name: Class, dtype: int64

In [24]:
new_dataset.groupby('Class').mean()

               Time        V1        V2  ...       V27       V28      Amount
Class                                    ...
0      96732.495935  0.087827 -0.029868  ... -0.027268  0.010563   84.971728
1      80746.806911 -4.771948  3.623778  ...  0.170575  0.075667  122.211321

[2 rows x 30 columns]

Splitting the data into Features & Targets

In [25]:
X = new_dataset.drop(columns = 'Class',axis =1)

In [26]:
Y = new_dataset['Class']

In [27]:
X.head()

            Time        V1        V2  ...       V27       V28  Amount
203997  135066.0 -1.450311  1.017873  ... -0.121309 -0.191828   16.90
19067    29986.0 -0.606640 -0.353018  ...  0.324792  0.205646   74.85
132906   80167.0  0.331874  0.855977  ...  0.204554  0.342077   34.90
202425  134323.0 -0.222645  0.506979  ... -0.151008 -0.039948  255.02
242118  151350.0  2.111237 -0.043658  ... -0.069388 -0.066207    1.79

[5 rows x 30 columns]

In [28]:
Y

203997    0
19067     0
132906    0
202425    0
242118    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Split the data into Training data & Testing Data

In [29]:
X_train , X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.2,random_state=2,stratify = Y)

In [30]:
print(X.shape , X_train.shape , X_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

Logistic Regression

In [31]:
model = LogisticRegression()

In [32]:
model.fit(X_train,Y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

Model Evaluation

Accuracy score

In [33]:
# Training data accuracy
training_data_accuracy = model.predict(X_train)

In [34]:
print("Training Accuracy Score: ",accuracy_score(Y_train,training_data_accuracy))

Training Accuracy Score:  0.9440914866581956

In [35]:
#Testing data accuracy
testing_data_accuracy = model.predict(X_test)
print("Testing accuracy score: ",accuracy_score(Y_test, testing_data_accuracy))

Testing accuracy score:  0.9289340101522843

Model Training - XGBoost

In [36]:
from xgboost import XGBClassifier
classifier = XGBClassifier()
classifier.fit(X_train,Y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='binary:logistic', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

Model Evaluation - XGBoost

Accuracy score

In [37]:
# Training data accuracy
training_data_accuracy = classifier.predict(X_train)
print("Training Accuracy Score: ",accuracy_score(Y_train,training_data_accuracy))

Training Accuracy Score:  0.9987293519695044

In [38]:
#Testing data accuracy
testing_data_accuracy = classifier.predict(X_test)
print("Testing accuracy score: ",accuracy_score(Y_test, testing_data_accuracy))

Testing accuracy score:  0.9390862944162437